<h1>PNM(sniffles) Sniffer</h1>

<a href="/static/1.html">youtube</a>
<br>
<a href="/static/2.html">soundcloud</a>
<br>
<a href="/static/3.html"></a>
<br>
<a href="/static/4.html"></a>
<br>
<a href="/static/5.html"></a>
<br>
<a href="/static/6.html"></a>
<br>
<a href="/static/7.html"></a>
<br>
<a href="/static/8.html"></a>
<br>
<a href="/static/9.html"></a>
<br>
<a href="/static/10.html">404 error</a>


<form action="post_request", method="post">	
  <input type="text" name="test1">
  <input type="submit" name="test2" id="form">
</form>