<h1>PNM(sniffles) Sniffer</h1>

<a href="/templates/1.html">youtube</a>
<br>
<a href="/templates/2.html">soundcloud</a>
<br>
<a href="/templates/3.html"></a>
<br>
<a href="/templates/4.html"></a>
<br>
<a href="/templates/5.html"></a>
<br>
<a href="/templates/6.html"></a>
<br>
<a href="/templates/7.html"></a>
<br>
<a href="/templates/8.html"></a>
<br>
<a href="/templates/9.html"></a>
<br>
<a href="/templates/10.html">404 error</a>


<form action="post_request", method="post">	
  <input type="text" name="test1">
  <input type="submit" name="test2" id="form">
</form>